<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="me.apla.cordova.apppreferences"
      version="0.2.0">
    <name>AppPreferences</name>

    <js-module src="www/apppreferences.js" name="apppreferences">
        <clobbers target="apppreferences" />
    </js-module>

    <asset src="www/task/AppPreferences.js" target="task/AppPreferences.js" />

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AppPreferences" >
                <param name="android-package" value="me.apla.cordova.apppreferences"/>
            </feature>
        </config-file>

        <source-file src="src/android/AppPreferences.java" target-dir="src/me/apla/cordova/apppreferences" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AppPreferences">
                <param name="ios-package" value="AppPreferences"/>
            </feature>
        </config-file>

        <header-file src="src/ios/AppPreferences.h" />
        <source-file src="src/ios/AppPreferences.m" />
    </platform>

    <!-- wp7 -->
    <platform name="wp7">
        <config-file target="config.xml" parent="/*">
            <feature name="AppPreferences">
                <param name="wp-package" value="AppPreferences"/>
            </feature>
        </config-file>

        <source-file src="src/wp/AppPreferences.cs" />
    </platform>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="AppPreferences">
                <param name="wp-package" value="AppPreferences"/>
            </feature>
        </config-file>

        <source-file src="src/wp/AppPreferences.cs" />
    </platform>

</plugin>
